body
{
	background-color: black;
}

body.moving
{
	cursor: move;
}

body.resizing
{
	cursor: se-resize;
}

div
{
	border-radius: inherit;
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
	-o-border-radius: inherit;
}

div.window
{
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: rgba(50, 50, 50, 0.6);
	color: white;
	overflow: hidden;
	min-width: 150px;
	min-height: 25px;
}

div.window.selected
{
	background-color: rgba(50, 50, 50, 0.8);
}

div.window div.titlebar
{
	height: auto;
}

div.window div.titlebar div
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(100, 100, 100, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(100, 100, 100, 0.8), transparent);
}

div.window div.titlebar div.menu
{
	position: absolute;
	width: auto;
	top: 0px;
	left: 0px;
}

div.window div.titlebar div.controls
{
	position: absolute;
	width: auto;
	top: 0px;
	right: 0px;
}

div.window div.titlebar div.title
{
	text-align: center;
}

div.window div.titlebar div.controls button
{
	margin-top: 0px;
	margin: 0px;
	border-width: 1px;
	border-color: darkgreen;
	background-color: darkgreen;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.8), transparent);
	color: white;
	font-weight: bold;
}

div.window div.titlebar div.controls button.close
{
	border-radius: 0px 3px 0px 0px;
	border-color: darkred;
	background-color: darkred;
}

div.window div.titlebar div.controls button.minimize
{
	border-radius: 0px 0px 0px 3px;
}

div.window div.content input, div.window div.content input[type=check], div.window div.content select, div.window div.content button, div.window div.content textarea
{
	border-radius: 2px;
	border-width: 1px;
	border-color: rgba(100, 100, 100, 0.8);
	background-color: rgba(100, 100, 100, 0.8);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.8), transparent);
	color: white;
}

@-webkit-keyframes glow
{
	from
	{
		background-color: rgba(100, 100, 100, 0.8);
	}
	to
	{
		background-color: rgba(0, 0, 0, 0.6);
	}
}

div.window div.content input:focus, div.window div.content textarea:focus
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(150, 150, 150, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(150, 150, 150, 0.8), transparent);
}

div.window div.content button:hover, div.window div.content input:focus, div.window div.content textarea:focus
{
	-webkit-animation-name: glow;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
}

div.vslider
{
	display: inline-block;
}

div.vslider label, div.vslider div.caption
{
	display: block;
	text-align: center;
}

div.vslider div.control
{
	border-radius: 5px;
	height: 4px;
	border: 1px inset gray;
	margin-top: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	margin-bottom: 5px;
}

div.vslider div.control div.pointer
{
	background-color: rgba(50, 50, 200, 0.6);
	width: 10px;
	height: 15px;
	margin-top: -6px;
	border: 1px outset gray;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-webkit-transition: background-color 1s ease-in-out;
}

div.vslider div.control div.pointer:hover
{
	background-color: rgba(75, 75, 225, 0.8);
}
