body
{
	background-color: black;
}

body.moving
{
	cursor: move;
}

body.resizing
{
	cursor: se-resize;
}

div
{
	border-radius: inherit;
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
	-o-border-radius: inherit;
}

div.window
{
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: rgba(50, 50, 50, 0.6);
	color: white;
	overflow: hidden;
	min-width: 150px;
	min-height: 25px;
}

div.window.selected
{
	background-color: rgba(50, 50, 50, 0.8);
}

div.window div.titlebar
{
	height: auto;
}

div.window div.titlebar div
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(100, 100, 100, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(100, 100, 100, 0.8), transparent);
}

div.window div.titlebar div.menu
{
	position: absolute;
	width: auto;
	top: 0px;
	left: 0px;
}

div.window div.titlebar div.controls
{
	position: absolute;
	width: auto;
	top: 0px;
	right: 0px;
}

div.window div.titlebar div.title
{
	text-align: center;
}

div.window div.titlebar div.controls button
{
	margin-top: 0px;
	margin: 0px;
	border-width: 1px;
	border-color: darkgreen;
	background-color: darkgreen;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.8), transparent);
	color: white;
	font-weight: bold;
}

div.window div.titlebar div.controls button.close
{
	border-radius: 0px 3px 0px 0px;
	border-color: darkred;
	background-color: darkred;
}

div.window div.titlebar div.controls button.minimize
{
	border-radius: 0px 0px 0px 3px;
}

input, input[type=check], select, button, textarea
{
	border-radius: 2px;
	border-width: 1px;
	border-color: rgba(100, 100, 100, 0.8);
	background-color: rgba(100, 100, 100, 0.8);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.8), transparent);
	color: white;
}

@-webkit-keyframes glow
{
	from
	{
		background-color: rgba(100, 100, 100, 0.8);
	}
	to
	{
		background-color: rgba(0, 0, 0, 0.6);
	}
}

input:focus, textarea:focus
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(150, 150, 150, 0.8)), color-stop(1.0, transparent));
	background-image: -moz-linear-gradient(-90deg, rgba(150, 150, 150, 0.8), transparent);
}

button:hover, input:focus, textarea:focus
{
	-webkit-animation-name: glow;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 10;
	-webkit-animation-direction: alternate;
}

/* 1s ease-in-out transition for bgcolor */
div.pointer
{
	transition: background-color 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out;
}

/* Inset box shadow */
div.slider div.control, div.window, input, input[type=check], select, button, textarea
{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
}

div.slider, div.dial
{
	display: inline-block;
	margin-top: 10px;
}

div.slider label, div.slider div.caption, div.dial label, div.dial div.caption
{
	display: block;
	text-align: center;
}

div.slider, div.dial
{
	margin-bottom: 10px;
}

div.slider div.control
{
	border-radius: 5px;
	height: 4px;
	border: 1px inset gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.dial div.control
{
	background-color: rgba(20, 20, 20, 0.6);
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 1px inset gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.slider div.pointer
{
	background-color: rgba(50, 50, 200, 0.6);
	width: 10px;
	height: 15px;
	margin-top: -6px;
	border: 1px outset gray;
}

div.dial div.pointer
{
	background-color: rgba(50, 50, 200, 0.6);
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-top: -6px;
	border: 1px outset gray;
}

div.pointer:hover
{
	background-color: rgba(75, 75, 225, 0.8);
}
